# Exercise 4.6 Combining and Exporting Data

## This Script contains:

### 1. Import of newly created Orders and products combined pickle file

### 2. Import of cleaned product.csv dataframe and conversion to pickle format

### 3. Merging of two above files

### 4. Confirmation of merge and shape of merged file

### 5. Extract of new file in pickle format

#### 1. Import of newly created Orders and products combined pickle file

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#import data frame pkl
df_merged_large = pd.read_pickle(r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis /Data/Prepared Data/orders_products_combined.pkl')

In [4]:
path = r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis '

In [5]:
path

'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis '

In [6]:
#check shape of merged data frame
df_merged_large.shape

(32434489, 11)

#### The same # of rows accounted for on inner join and higher colums with combiend columns of 2 dataframes.

In [7]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

#### 2. Import of cleaned product.csv dataframe and conversion to pickle format

In [8]:
#import data frame
df_prods_clean_no_dups = pd.read_csv(r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis /Data/Prepared Data/product_cleaned.csv', index_col = False)

In [9]:
df_prods_clean_no_dups.shape

(49693, 6)

In [10]:
df_prods_clean_no_dups.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
#Export to pickle to convert to same format
df_prods_clean_no_dups.to_pickle(os.path.join(path, 'Data','Prepared Data', 'df_prods_clean_no_dups.pkl'))

#### 3. Merging of two above files

In [12]:
#merge data frames
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner',  indicator = True)

#### 4. Confirmation of merge and shape of merged file

In [13]:
df_orders_products_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_orders_products_merged.shape

(32434212, 16)

#### 5. Extract of new file in pickle format

In [15]:
# Export data to pkl

df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))