## Exercise 4.6 Mid section prep on Merges

### Scripts Contained:

#### 1. Import Orders Products Prior and Orders dataframes- need product_id column from 1st file to look up to Products file.

#### 2. Merge two files with inner join

#### 3. Confirm the merge and shape of two dataframes

#### 4. Extract new combined file in pkl format

##### 1. Import Orders Products Prior and Orders dataframes- need product_id column from 1st file to look up to Products file.

In [5]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [6]:
#import data frame
df_ords_prior = pd.read_csv(r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis /Scripts/4.6 Combining & Exporting Data/orders_products_prior.csv', index_col = False)

In [7]:
#import data frame
df_ords = pd.read_csv(r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis /Data/Original Data/orders.csv', index_col = False)

In [16]:
path = r'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis '

In [17]:
path

'/Users/emilyseitz/Desktop/emilyseitz/Instacart Basket Analysis '

In [10]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

##### 2. Merge two files with inner join

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner',  indicator = True)

##### 3. Confirm the merge and shape of two dataframes

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

##### 4. Extract new combined file in pkl format

In [18]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))